@media screen and (max-width: 480px){

    /* ***** HTML ***** */
    body{
    margin: 0;
    width: auto;
    padding: auto;}

    
    /* ***** HEADER ***** */
    .hebergements{
     position: relative;
     top: 60px;
     left: -120px;}
 
    .activitesamarseille{
     position: relative;
     top: 60px;
     left: -100px;}

    .inscription{
    position: relative;
    left: -180px;}
 
     header li a:before{content: none;}
  
     header li a:after{
     content: '';
     display: block;
     height: 1px;
     width: 0;
     border: 1px solid transparent;
     transition: width .5s ease, background-color .5s ease;}
 
     header li a:hover::after{
     width: 100%;
     background :#0065FC;}
 
 
     /* ***** SECTION N°1 ***** */
     h1{margin-top: 50px;}

    .fa-search{
    position: relative;
    right: 15px;
    font-size: 1.2em;}
    
    .rechercher{border-radius: 15px 15px 15px 15px;}
 
    .boutonch{
     margin-left: -70px;
     visibility: hidden;}
 
    .map{font-size: 1.3em;}
 
    .loupe{visibility: visible;}
 
    .info{
    position: relative;
    top: 20px;}
 
    .para{
    font-weight: normal;
    position: relative;
    top: 20px;}

    .filtres{
    position: relative;
    top: 20px; 
    margin-top: 10px;
    margin-bottom: 25px;}

    .logostitre{flex-direction: column;}

    .firstgroup{
    position: relative;
    right: 60px;}

    .filtre12{margin-bottom: 10px;}


     /* ***** ASIDE ***** */
    .lesplus{margin-left: -70px;}

    .evolution{
    position: relative;
    left: 150px;}

    .middlerow{
    width: 100%;
    flex-direction: column;}
        
    .popularite img{
    width: 10em;
    height: 10em;}

    .popularite figure{
    margin-bottom: -50px;
    padding: 8px;
    width: 25em;
    height: 10em;}

    .title{margin-left: 0;}

    .ap{margin-left: 0;}}
    
    



     