/* ****************** HTML ******************** */
@import "media.css";

@font-face {
 font-family: 'ralewayblack';
src: url("font/raleway-black-webfont.woff2") format('woff2'),
url("font/raleway-black-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayblack_italic';
src: url("font/raleway-blackitalic-webfont.woff2") format('woff2'),
url("font/'raleway-blackitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaybold';
src: url("font/raleway-bold-webfont.woff2") format('woff2'),
url("font/'raleway-bold-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaybold_italic';
src: url("font/raleway-bolditalic-webfont.woff2") format('woff2'),
url("font/'raleway-bolditalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextrabold';
src: url("font/raleway-extrabold-webfont.woff2") format('woff2'),
url("font/'raleway-extrabold-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextrabold_italic';
src: url("font/raleway-extrabolditalic-webfont.woff2") format('woff2'),
url("font/'raleway-extrabolditalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextralight';
src: url("font/raleway-extralight-webfont.woff2") format('woff2'),
url("font/'raleway-extralight-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextralight_italic';
src: url("font/raleway-extralightitalic-webfont.woff2") format('woff2'),
url("font/'raleway-extralightitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayitalic';
src: url("font/raleway-italic-webfont.woff2") format('woff2'),
url("font/'raleway-italic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaylight';
src: url("font/raleway-light-webfont.woff2") format('woff2'),
url("font/'raleway-light-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaylight_italic';
src: url("font/raleway-lightitalic-webfont.woff2") format('woff2'),
url("font/'raleway-lightitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaymedium';
src: url("font/raleway-medium-webfont.woff2") format('woff2'),
url("font/'raleway-medium-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

body{
font-family: "ralewaymedium", sans-serif;
margin: 0;}

h1{font-family: "ralewayblack";}

h2{font-family: "ralewayextrabold";}

.epleine{color: #0065FC;}

.fa-star{font-size: 0.8em;}

.evide{color: rgb(217, 217, 217);}

a{
color: black;
text-decoration: none;}


/* ****************** HEADER ******************** */
.header{
display: grid;
align-items: center;
max-width: 1440px;
margin: auto;}

.headerimg{
grid-area: logo;
padding: 0 2rem;}

.headernav{
display: flex;
align-items: center;
grid-area: navbar;}

.headernavlink{
padding: 2rem;
text-align: center;}

.headersignup{
grid-area: button;
align-items: center;
padding: 2rem;}

.headernav a:before{
content: '';
display: block;
margin-bottom: 1rem;
width: 0;
border: 0.1px solid transparent;
transition: width .5s ease, background-color .5s ease;}

.headernav a:hover:before {
width: 100%;
background :#0065FC;}

.headernav a:hover{
font-weight: bolder;
color: #0065FC;}


/* ****************** MAIN ******************** */
.main{
max-width: 1440px;
margin: auto;
padding: 0 2rem;
box-sizing: border-box;}


/* ****************** SEARCH ******************** */
.searchheadertitle{margin-bottom: .5rem;}

.searchheadersubtitle{margin-top: 0;}

.searchform{
display: inline-flex;
max-width: 100%;
overflow: auto;}

.searchfrommapicon{
background-color: #f2f2f2;
padding: 1rem 1.25rem;
border-radius: 1rem 0 0 1rem;
text-align: center;}

.searchbar{
border-right: none;
border-left: none;
border-top: #f2f2f2 1px solid;
border-bottom: #f2f2f2 1px solid;
padding: 0 1.5rem;
box-sizing: border-box;
width: 14rem;
font-size: 1rem;
font-weight: bold;}

.searchsubmit{
background-color: #0065fc;
color: #fff;
font-weight: bold;
border: none;
border-radius: 0 1rem 1rem 0;
padding: 0 1.5rem;
font-size: 1rem;}

.searchfilters{
display: flex;
margin-top: 2rem;
flex-wrap: wrap;}

.searchfiltertitle{margin: 1rem 2rem 1rem 0;}

.searchfiltersfilter{
display: flex;
align-items: center;
margin-right: 2rem;
border: 2px solid #d9d9d9;
border-radius: 2rem;
margin-bottom: 1rem;
cursor: pointer;}

.searchfiltericons{
background-color: #deebff;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 3.5rem;
min-width: 3.5rem;
display: flex;
color: #0065fc;
align-items: center;
justify-content: center;
margin: -2px;}

.searchfiltertitles{margin: 0 1rem;}

.searchfiltersfilter:hover{
color: #0065fc;
transform: scale(1.2);}

.searchresult{
display: flex;
align-items: center;
margin: 1rem 0 2rem 0;}
    
.searchresulticon{
height: 2rem;
width: 2rem;
min-height: 2rem;
min-width: 2rem;
border: solid 1px #d9d9d9;
border-radius: 100%;
display: flex;
color: #0065fc;
align-items: center;
justify-content: center;
margin-right: 1rem;}
    
.searchresulttxt{margin: 0;}


/* ****************** HOSTING ******************** */
.hosting{
display: grid;
column-gap: 2rem;
grid-template-columns: 6fr 3fr;}

.hostingmain{
display: grid;
column-gap: 2rem;
row-gap: 2rem;
grid-template-columns: 17rem 17rem 17rem;}

.hostinheader{grid-column: 1/-1;}

.hostingtitle{
margin: 0;
display: flex;
justify-content: space-between;}

.hostingcard{
background-color: #fff;
padding: .375rem;
border-radius: 1.25rem;
box-shadow: 0 0 16px #0000002e;
transition-duration: .1s;
cursor: pointer;}

.hostingcard:hover{transform: scale(1.1);}

.hostingcardfigure{margin: 0;}

.hostingcardfigureimg{
height: 7rem;
object-fit: cover;
max-width: 100%;
width: 100%;
max-height: 100%;
border-radius: 1rem 1rem 0 0;}

.hostingfigcaptiontitle{margin: .25rem .75rem 0 .75rem;}

.hostingcarddesc{margin: .25rem .75rem .25rem .75rem;}

.hostingmaincardstars{margin: 0 .75rem .25rem .75rem;}

.hostingviewmore{font-weight: bold;}

.hostingmain, .hostingfavorite{
background-color: #f2f2f2;
border-radius: 1.5rem;
padding: 2rem}


/* ****************** ASIDE ******************** */
.hostingfavorite{
display: grid;
row-gap: 2rem;
align-items: start;}

.hostingfavoritetitle{
margin: 0;
display: flex;
justify-content: space-between;}

.hostingfavoritecard{
background-color: #fff;
padding: .375rem;
border-radius: 1.25rem;
box-shadow: 0 0 16px #0000002e;
transition-duration: .1s;
cursor: pointer;}

.hostingfavoritecard:hover{transform: scale(1.1);}

.hostingfavoritecontent{
display: flex;
align-items: stretch;}

.hostingfavoritewrapcontent{
display: flex;
flex-direction: column;}

.hostingfavoriteimg{
width: 33%;
min-height: 8rem;
height: auto;
object-fit: cover;
border-radius: 1rem 0 0 1rem;}

.hostinfavoritewarapcontent{
display: flex;
flex-direction: column;}

.hostinfavoritecaptiontitle{margin: .25rem .75rem 0 .75rem;}

.hostingfavoritewhitespace{flex: 1;}


/* ****************** ACTIVITY ******************** */
.activity{
display: grid;
column-gap: 2rem;
margin: 4rem 0;}

.activitytitle{
grid-column: 1/-1;
padding-bottom: 1rem;}

.activitycardwraping{
position: relative;
flex: 1;}

.activitycardwrapingimg{
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;}

.activitycard:hover{transform: scale(1.1);}

.activitycardtitle{margin: 1.2rem 1.5rem;}

.activitycard{
box-shadow: 0 0 20px #0000002e;
border-radius: 1rem;
overflow: hidden;
display: flex;
flex-direction: column;
transition-duration: .1s;
cursor: pointer;}


/* ****************** ACTIVITY ******************** */
.footer{
background-color: #f2f2f2;
width: 100%;}

.footercolumn{
display: flex;
max-width: 100%;
width: 1440px;
margin: auto;
padding: 0 2rem;
box-sizing: border-box;}

.footercolumnwrap{
width: 30%;
padding: 2rem 0;}

.footerlink{
display: block;
margin: 1rem 0;}

.footerlink:hover{text-decoration: underline;}


