/* ****************** HTML ******************** */
@import "media.css";

@font-face {
 font-family: 'ralewayblack';
src: url("font/raleway-black-webfont.woff2") format('woff2'),
url("font/raleway-black-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayblack_italic';
src: url("font/raleway-blackitalic-webfont.woff2") format('woff2'),
url("font/'raleway-blackitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaybold';
src: url("font/raleway-bold-webfont.woff2") format('woff2'),
url("font/'raleway-bold-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaybold_italic';
src: url("font/raleway-bolditalic-webfont.woff2") format('woff2'),
url("font/'raleway-bolditalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextrabold';
src: url("font/raleway-extrabold-webfont.woff2") format('woff2'),
url("font/'raleway-extrabold-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextrabold_italic';
src: url("font/raleway-extrabolditalic-webfont.woff2") format('woff2'),
url("font/'raleway-extrabolditalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextralight';
src: url("font/raleway-extralight-webfont.woff2") format('woff2'),
url("font/'raleway-extralight-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayextralight_italic';
src: url("font/raleway-extralightitalic-webfont.woff2") format('woff2'),
url("font/'raleway-extralightitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewayitalic';
src: url("font/raleway-italic-webfont.woff2") format('woff2'),
url("font/'raleway-italic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaylight';
src: url("font/raleway-light-webfont.woff2") format('woff2'),
url("font/'raleway-light-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaylight_italic';
src: url("font/raleway-lightitalic-webfont.woff2") format('woff2'),
url("font/'raleway-lightitalic-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'ralewaymedium';
src: url("font/raleway-medium-webfont.woff2") format('woff2'),
url("font/'raleway-medium-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;}

html{font-family:"ralewaymedium";}

body{
padding: 20px;
margin: 2%;}

span{font-weight: bold;}

li{list-style-type: none;}

h1{ 
font-family: "ralewayblack";
padding-top: -1.5px;}

h2{font-family: "ralewayextrabold";}

.epleine{color: #0065FC;}

.fa-star{font-size: 0.8em;}

.evide{color: rgb(217, 217, 217);}

.info{
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: 1.2em;
color: #0065FC;
padding-right: 1px;
width: 20px;
height: 20px;
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: 50%;
border: 1px #0703fc21 solid;}

a{
color: black;
text-decoration: none;}


/* ****************** HEADER ******************** */
header{
display: flex;
justify-content: space-between;}

header ul{display: flex;}

header li{
position: relative;
margin-right: 110px;
right: 100px;  
line-height: 50px;}

header li a:before{
content: '';
display: block;
width: 0;
border: 0.1px solid transparent;
transition: width .5s ease, background-color .5s ease;}

header li a:hover:before {
width: 100%;
background :#0065FC;}

header a:hover{
font-weight: bolder;
color: #0065FC;}


/* ****************** SECTION N°1 ******************** */
.centreville{
line-height: 0em;
margin-bottom: 50px;}

.map{
font-size: 20px;
padding-bottom: 5px;
border: 10px solid #F2F2F2;
border-radius: 10px 0 0 10px;
background-color: #F2F2F2;}

.barrederecherche{
font-weight: bolder;
color: black;
text-indent: 3%;
border: 0.5px solid #F2F2F2;
border-radius: 0 0 0 0;
height: 45px;
width: 250px;}

.boutonch{
margin-left: 1em;
font-size: 1.3em;}

.rechercher{
margin-bottom: 30px;
border: #F2F2F2;
color: white;
border-radius: 0 15px 15px 0;
height: 50px;
cursor: pointer;
background-color: #0065FC;}

.loupe{visibility: hidden;}

.para{font-weight: normal;}

.logostitre{display: flex;}

.logos{
font-size: 1.2em;
margin-right: -45px;
color: #0065FC;
border: 11px solid #DEEBFF;
border-radius: 20px;
margin-left: 16px;
background-color: #DEEBFF;}

#fami{
margin-right: -5px;
width: 23px;}

.logo2{
margin-bottom: 30px;
white-space: pre;
font-weight: bolder;
width: 210px;
height: 45px;
display: inline-flex;
text-indent: 10%;
justify-content: space-around;
align-items: center;
margin-right: 30px;
border-radius: 20px;
border: rgb(217, 217, 217) 1.5px solid;}

.logo2:hover{
cursor: pointer;
transform: scale(1.20);
transition: 0.3s ease-in-out;}


/* ****************** SECTION N°2 ******************** */
.title{
margin-top: 60px;
margin-left: 50px;}

.ap{
margin-top: 20px;
margin-left: 50px;}

.greybackground{
margin-top: 30px;
padding-left: 10px;
border-radius: 30px;
background-color: #F2F2F2;}

.hebergement-container{
display: grid;
grid-template-columns: 30% 30% 30%;
column-gap: 10px;}

figcaption{font-weight: bolder;}

.middlerow img{
image-rendering: pixelated;
border-radius: 30px 30px 0 0;
height: 8em;
width: 17em;}

.txtdroite{margin-left: 10px;}

.middlerow{
display: flex;
gap: 40px;}

.vignettes{
width: 270px;
padding: 8px;
line-height: 1.4em;
background-color: rgb(255, 255, 255);
box-shadow: 10px 26px 26px -4px rgb(224, 224, 224);
border-radius: 30px;}


/* ****************** ASIDE ******************** */
.evolution{
position: relative;
left: 80px;}

.popularite figure{
padding: 7px;
border-radius: 30px;
width: 335px;
margin: -10px;
display: flex;}

.texteadroite{
margin-top: 5px;
margin-left: 20px;}

.popularite a{margin-bottom: 70px;}

.popularite{
display: flex;
margin-top: 50px;
align-items: center;
flex-direction: column;}

.deplacement{
position: relative;
top: 25px;}

.deplacement2{
position: relative;
top: 25px;}

.lesplus{
margin-left: -5px;
margin-top: 60px;}

.popularite img{
border-radius: 20px 0px 0px 20px;
image-rendering: pixelated; 
width: 8em;
height: 8em;}

.popu_greybackground{
padding: 0px 80px 0px 50px;
border-radius: 30px;
background-color: #F2F2F2;}
    
.soleil{
line-height: 1.3em;
background-color: rgb(255, 255, 255);
box-shadow: 10px 10px 26px -4px rgb(224, 224, 224);}

.coeur{
background-color: rgb(255, 255, 255);
box-shadow: 10px 10px 26px -4px rgb(224, 224, 224);}

.blanc{
line-height: 1.3em;
background-color: rgb(255, 255, 255);
box-shadow: 10px 10px 26px -4px rgb(224, 224, 224);}


/* ****************** SECTION N°3 ******************** */
.titreactivite{
margin-top: 100px;
margin-bottom: -10px;}

.photosactivites img{border-radius: 30px 30px 0 0;}

.photosactivites figcaption{
box-shadow: 10px 10px 26px -4px rgb(224, 224, 224);
border-radius: 0 0 30px 30px ;
margin-left: -50px;
line-height: 3em;
text-indent: 1.5em;}

.photosactivites{
margin-bottom: 80px;
display: flex;}

.vieux img{
margin-left: -50px;
image-rendering: pixelated;
height: 450px;
width: 400px;}

.fort img{
margin-left: -50px;
image-rendering: pixelated;
height: 250px;
width: 350px;}

.iles img{
margin-left: -50px;
image-rendering: pixelated;
height: 130px;
width: 350px;}

.parc img{
margin-left: -50px;
image-rendering: pixelated;
height: 450px;
width: 400px;}

.notredame img{
margin-left: -50px;
image-rendering: pixelated;
height: 190px;
width: 400px;}

.longchamp img{
margin-left: -50px;
image-rendering: pixelated;
height: 190px;
width: 400px;}


/* ****************** FOOTER ******************** */
.greybackgroundfooter{
width: 95%;
margin-left: -20px;
background-color: #F2F2F2;}

footer h3{line-height: 3em;}

footer p{margin-top: -20px;}

.remarques{
display: flex;
gap: 250px;}

.apropos{
margin-left: 20px;
line-height: 1.8em;}

.noshebergements{line-height: 1.8em;}

.assistance{line-height: 1.8em;}